div{
    height: 300px;
    width:300px;
    background-color: lawngreen;
}
div:hover{
    background-color: aqua;
    transform: rotate(180deg);
    transform: scale(0.5);
    transform: translateY(30px);
    transform: skew(79deg);
}