body{
    margin:0px;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: desco 1s linear 2s infinite normal;
}
@keyframes desco{
    0%{
        background-color: blue;
    }
    15%{
        background-color: aquamarine;
    }
    30%{
        background-color: green;
    }
    45%{
        background-color:lightsalmon;
    }
    60%{
        background-color: chartreuse;
    }
    75%{
        background-color: crimson;
    }
    90%{
        background-color: darkmagenta;
    }
    100%{
        background-color: hotpink;
    }
}
h2{
    background-color: beige;
    font-size: 30px;
}